@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --theme-color: rgb(108, 213, 108);
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.main {
  padding: 0px;
}

.swiper {
  position: relative !important;
  width: 75%;
  height: 26vw;
  scroll-behavior: smooth;
  margin-bottom: 0 !important;
  padding-top: 1rem !important;
  margin-top: -2rem !important;
}

#work .swiper-slide,
#review .swiper-slide {
  height: 18rem !important;
  width: 40% !important;
  justify-items: center;
  position: relative;
  margin-bottom: 5rem;
  border-radius: 0.75rem;
  overflow: hidden;
  border: 3px solid transparent;
  box-shadow: 0px 10px 20px rgba(148, 148, 148, 0.5);
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
}

#work .swiper-slide-active:hover {
  border: 3px solid rgb(87, 198, 87);
  box-shadow: 0px 15px 25px rgba(148, 148, 148, 0.75);
  transform: scale(1.025) !important;
}

#work .swiper-slide img,
#review .swiper-slide img {
  margin: auto;
  display: block;
  width: 100%;
  height: 100%;
}

#work .mySwiper,
#review .mySwiper {
  margin-bottom: 100rem;
}

#work .swiper-pagination-bullet-active,
#review .swiper-pagination-bullet-active {
  background-color: var(--theme-color) !important;
}

#work .swiper-button-next::after,
#work .swiper-button-prev::after {
  display: flex;
  background-color: white !important;
  height: 26rem !important;
  width: 10rem !important;
  align-items: center;
  justify-content: center;
  color: var(--theme-color);
  padding: 0 2rem !important;
}

title:hover::after {
  width: 70%;
}
.nav {
  position: relative !important;
}
.nav div {
  cursor: pointer;
  position: relative;
}
.nav div::after {
  width: 0px !important;
}

.nav div:hover::after {
  width: 70% !important;
}

.title::after {
  height: 0.26rem !important;
}

.title::after,
.nav div::after {
  content: "";
  height: 0.22rem;
  width: 70%;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: var(--theme-color);
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border-radius: 100px;
}

.intro_content {
  z-index: 1000 !important;
}

.score {
  animation: expertize 1s cubic-bezier(0.175, 0.885, 0) !important;
}

.triangle {
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-left: 0;
  border-right: 10px solid black;
}

@keyframes expertize {
  0% {
    width: 0 !important;
  }
  100% {
    width: 70% !important;
  }
}

@media screen and (max-width: 768px) {
  .mySwiper,
  .reviewSlide {
    width: 100%;
    height: 18rem;
    margin-top: 0 !important;
  }

  .reviewSlide {
    height: 30rem;
  }

  #work .swiper-slide,
  #review .swiper-slide {
    width: 67% !important;
    height: 43vw !important;
    margin-bottom: 8rem;
    margin-top: 3rem;
  }

  .work .swiper-slide-active {
    border: 3px solid var(--theme-color) !important;
  }

  #review .swiper-slide {
    height: 20.9rem !important;
    border-radius: 10px !important;
    box-shadow: 0 0 0;
    overflow: visible;
  }

  #work .swiper-button-next::after,
  #review .swiper-button-next::after,
  #work .swiper-button-prev::after,
  #review .swiper-button-prev::after {
    display: none !important;
  }

  .review {
    transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1) !important;
  }

  .review {
    transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1) !important;
  }

  .review:hover {
    transform: scale(1.05) !important;
  }
}
